<div align="center">
  <h1>¡Gana puntos gratis!</h1><br/><br/>
  <input type="text" class="form-control" placeholder="Usuario del Centic" style="WIDTH: 150px; HEIGHT: 40px" size=10 #userNickname [(ngModel)]="inputNickname"><br/>
  <button type="button" class="btn btn-outline-success" (click)= "givePointsToUser(userNickname.value, 100)" *ngFor="let punto of puntos">Conseguir {{ punto.value }} puntos</button> 
  <app-lottie-animation *ngIf=!swapAnimations #anim></app-lottie-animation>
  <animation-success *ngIf=hideAnimation #anim2></animation-success>
</div>




