<div class="col-auto" align="center">
    <h2 *ngFor="let punto of puntos">Puntos asignados actualmente = {{punto.value}}</h2><br/>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <label>Nuevo valor</label>
        </div>
        <div class="col-md-auto">
            <input type="number" class="form-control" placeholder=""  [(ngModel)]="inputNewValue" #points>
        </div>
        <div class="col-md-auto">
            <button type="submit" class="btn btn-primary mb-1" (click)= "setPointsValue(points.value)" >Actualizar</button>
        </div><br/><br/><br/><br/><br/>
    </div>
    <div>
        <table class="table">
          <thead class="thead-dark">
              <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Puntos obtenidos</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.nickname}}</td>
                <td>{{ user.points}}</td>
              </tr>      
          </tbody>
        </table>  
    </div>
</div>

