<div class="container" style="margin-top: 10px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" routerLink="/home" text-align=center >Ejemplo Minijuego PIIS</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Jugador <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/admin">Administrador</a>
            </li>
          </ul>
        </div>
    </nav><br/>
  <router-outlet></router-outlet>
</div>


